<div class="centerBoxWrapper" id="viewSpecificWrapper">
<div id="viewSnippetContent" >
    <dl>               
            <label for="title">Title:</label>
            <input class="input" id="snippetTitle" name="title" value="{{snippet.snippetTitle}}" form="updateSnippet"/><br>         
            <textarea id="viewSnippetTextarea" name="snippet" form="updateSnippet">{{snippet.snippet}}</textarea><br>
            {{snippet.username}} - {{snippet.createdAt}}<br>
            Last modified: 
            {{#if snippet.updatedAt}}
                {{snippet.updatedAt}} {{snippet.owner}}
            {{else}}
                N/A {{snippet.owner}}
            {{/if}}
            <br>            
            <div id="viewSnippetButtons">                
                {{#ifvalue owner value=true}}
                <a href="/snippets"><button class="snippetButton" type="submit">Back</button></a>
                <form method="post" action="/snippets/delete{{snippet._id}}" novalidate>
                <button class="snippetButton" type="submit">Delete</button>
                </form>
                <form method="post" action="/snippets/update{{snippet._id}}" id="updateSnippet" novalidate>
                <button class="snippetButton" type="submit">Update</button>
                </form>
                {{else}}
                <a href="/snippets"><button class="snippetButton" type="submit">Back</button></a>
                {{/ifvalue}}
            </div>
    </dl>
    </div>
</div>