<div class="centerBoxWrapper" id="viewSpecificWrapper">
<div id="viewSnippetContent" >
    {{#if snippets }}
    <dl>
        {{#each snippets}}
                <label for="title">Title:</label>
            <input class="input" id="snippetTitle" name="title" value="{{this.snippetTitle}}" form="updateSnippet"/><br>         
            <textarea id="viewSnippetTextarea" name="snippet" form="updateSnippet">{{this.snippet}}</textarea><br>
            {{this.username}} - {{this.createdAt}}<br>
            Last modified: 
            {{#if this.updatedAt}}
                {{this.updatedAt}}
            {{else}}
                N/A
            {{/if}}
            <br>
            <div id="viewSnippetButtons">
                <a href="/snippets"><button class="snippetButton" type="submit">Back</button></a>
                <form method="post" action="/snippets/delete{{this._id}}" novalidate>
                <button class="snippetButton" type="submit">Delete</button>
                </form>
                <form method="post" action="/snippets/update{{this._id}}" id="updateSnippet" novalidate>
                <button class="snippetButton" type="submit">Update</button>
                </form>
                
            </div>
        {{/each}}
    </dl>
    {{/if}}
    </div>
</div>